body {
     font-family: "Tahoma";
     font-size: 1.5em;
}

#container {
     border-radius: 10px;
     position: absolute;
     white-space: nowrap;
     width: 1300px;
     height: 550px;
     background: #00923e;
     padding: 20px;
}

th {
     background-color: #f8c711 !important;
     font-size: 1.2em;
     border-top: none;
}

.host, .guest {
     width: 200px;
}

.host {
     text-align: right;
}

.guest {
     text-align: left;
}

table {
     width: 100%;
     height: 100%;
     border-collapse: separate;
     border-spacing: 0;
     border-radius: 30px;
     border: 2px solid black;

}

tr:first-child {
     background-color: #00923e;
}

tr:last-child {
     background-color: #00923e;
}

#first-header-column {
     border-top-left-radius: 50px;
     background-color: #F8C711;
     padding-left:40px;
     padding-right:5px;
}

table tr:last-child td:last-child {
     border-bottom-right-radius: 8px;
}

th:first-child {
     border-top-left-radius: 8px;
}

th:last-child {
     border-top-right-radius: 8px;
}

td, th {
     text-align: center;
     border-left: 2px solid black;
     border-bottom: 2px solid black;
     padding: 10px 5px 10px 5px;
}

th:first-child {
     border-left: none;
}

th:last-child {
     border-right: none;
}

td:first-child {
     border-left: none;
}

td:last-child {
     border-right: none;
}

tr:last-child td {
     border-bottom: none;
}

tr:nth-child(odd) td {
     background: white;
}

tr:nth-child(even) td {
     background: #c8c8c8;
}

tr {
     background: #00923e;
}

#brasil p:after {
     content: url('../Resources/Brazil_resized.jpg');
}

#mexico p:before {
     content: url('../Resources/Mexico_resized.jpg');
}

#spain p:after {
     content: url('../Resources/Spain_resized.jpg');
}

#netherlands p:before {
     content: url('../Resources/Netherlands_resized.jpg');
}

#italy p:after {
     content: url('../Resources/Italy_resized.jpg');
}

#england p:before {
     content: url('../Resources/England_resized.jpg');
}

#argentina p:after {
     content: url('../Resources/Argentina_resized.jpg');
}

#bosnia p:before {
     content: url('../Resources/Bosnia_resized.jpg');
}

#germany p:after {
     content: url('../Resources/Germany_resized.jpg');
}

#portugal p:before {

     content: url('../Resources/Portugal_resized.jpg');
}

.red-button button {
     width: 45px;
     height: 45px;
     border-radius: 50%;
     background-repeat: no-repeat;
     background-image: url('../Resources/RedButton.png');
}

.green-button button {
     width: 45px;
     height: 45px;
     border-radius: 50%;
     background-repeat: no-repeat;
     background-image: url('../Resources/GreenButton.png');
}

select {
     width: 50px;
     height: 50px;
     font-size: 1.2em;
     color: green;
}

select[disabled] {
     color: red;
     background-color: rgb(220, 220, 220);
}

button:focus {
     outline: none;
}

select.dropdown {
     -webkit-appearance: none;
     -moz-appearance: none;
     background-position: 22px 3px;
     background-size: 13px 13px;
     width: 49px;
     height: 49px;
     margin-left: 7px;
     position: relative;
     cursor: pointer;
     background-color: transparent;
     color: green;
     padding-left: 4px;
}

select.dropdown1 {
     -webkit-appearance: none;
     -moz-appearance: none;
     background-position: 22px 3px;
     background-size: 13px 13px;
     width: 49px;
     height: 49px;
     margin-left: 10px;
     margin-right: 26px;
     position: relative;
     cursor: pointer;
     background-color: transparent;
     color: green;
     padding-left: 4px;
}

.arrow {
     font-size: 9px;
     color: black;
     position: absolute;
     right: -11px;
     top: 23px;
     cursor: default;
     line-height: 1px;

}

.arrow1 {
     font-size: 9px;
     color: black;
     position: absolute;
     right: -13px;
     top: 23px;
     cursor: default;
     line-height: 1px;

}

.parent {
     position: relative;
     width: 40px;
     height: 20px;
}

.parent1 {
     position: relative;
     width: 40px;
     height: 20px;
}

.position {
     margin-left: 1px;
     margin-top: -24px;

}

.position1 {
     margin-left: 71px;
     margin-top: -49px;
}

.middle {
     color: black;
}