body {
     font-family: tahoma, sans-serif;
}

#container {
     background-image: url("./formBackground.jpg");
     width: 402px;
     margin: 0 auto;
     padding: 20px;
     border-radius: 5px;
}

p {
     font-size: 0.9em;
     font-weight: bold;
     color: white;
}

.fields {
     font-size: 0.8em;
     width: 400px;
     height: 40px;
     background-color: rgba(255,255,255,0.4);
     border-width: 1px;
     border-style: solid;
     border-color: rgba(255,255,255,0.5);
     border-radius: 5px;
     margin-bottom: 3px;
}

.field-names, span {
     display: inline-block;
     float: left;
     margin-left: 15px;
     margin-top: 10px;
}

#name, #email, #phone, #postcode, #country, #card-number, #security-code, #name-on-card, textarea {
     float: right;
     margin-top: 9px;
     margin-right: 50px;
     height: 20px;
     width: 200px;
     border: none;
     border-radius: 2px;
     padding-left: 4px;
}

#address-field {
     height: 110px;
     display: table-cell;
}

textarea {
     min-height: 85px;
     width: 200px;
     resize: vertical;
     max-height: 175px;
     margin-bottom: 12px;
}

#postcode-div {
     margin-top: 3px;
}

#cards-choice {
     height: 75px;
}

#cards {
     margin: 20px 0 10px 25px;
}

.png {
     width: 35px;
     vertical-align: middle;
}

input[type='submit'] {
     width: 130px;
     height: 40px;
     margin-top: 10px;
     margin-left: 140px;
     border: none;
     border-radius: 50px;
     background-color: #04152f;
     color: #ffffff;
     font-size: 1em;
     text-decoration: none;
}

input[type='submit']:hover {
     background-color: #4CA0DB;
}

input:focus, textarea:focus {
     background-color: #f9f7b5;
}
a{
     text-decoration: none;
}