body {
	font-family: Tahoma;
}

#wrapper {
	margin: 20px;
	text-align: center;
	width: 540px;
	height: 220px;
	border-top: 7px dotted #FFFF00;
    border-right: 13px solid #008000;
    border-bottom: 7px double #0000FF;
	border-left: 7px dashed #FF0000;
	box-shadow: 16px 16px 16px #333333;
}

h1 {
	font-size: 2.2em;
	font-weight: normal;
	text-shadow: 9px 11px 8px #b4b3b3;
}

h2 {
	font-size: 1.1em;
    font-weight: normal;
    text-shadow: 6px 12px 10px #b4b3b3;
}

#ovalWrapperBlue {
	margin: 0px auto;
	width: 480px;
	border-radius: 75px;
    border: 2px solid #1D1BFF;
}

#ovalWrapperGreen {
	border-radius: 75px;
    border: 2px solid #127C30;
}

#ovalWrapperYellow {
	border-radius: 75px;
    border: 2px solid #FFFF00;
}

#ovalWrapperRed {
	padding: 0px 0px 10px 0px;
	border-radius: 75px;
    border: 2px solid #FF0000;
}

.textFieldLikeButton {
    text-align: center;
    padding: 2px 2px;
    font-weight: bold;
    background: #D8921A;
    border-top: 3px solid #EC9C0D;
    border-left: 3px solid #EC9C0D;
    border-bottom: 3px solid #AD7206;
    border-right: 3px solid #AD7206;
}

#smallBubble {
    position: absolute;
	width: 13px;
	height: 13px;
	background: rgba(104,104,104,0.5);
	border-radius: 50%;
	top: 155px;
    left: 455px;
    padding: 3px 7px 7px 3px;
}

#middleBubble .border,#smallBubble .border {
    width: 100%;
    height: 100%;
	border: 2px dashed white;
	border-radius: 50%;
}

#middleBubble {
    position: absolute;
	width:  30px;
	height: 30px;
	background: rgba(104,104,104,0.5);
	border-radius: 50%;
	top: 115px;
    left: 485px;
    padding: 5px 8px 8px 5px;
}

#largestBubble {
    position: absolute;
	width: 120px;
	height: 60px;
	background: rgba(104,104,104,0.5);
	border-radius: 50px;
	top: 55px;
    left: 535px;
    padding: 5px 8px 8px 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

#largestBubble .border {
    width: 90%;
    height: 80%;
	border: 2px dashed white;
	border-radius: 50px;
    padding: 5px;
}