div img {
	width: 300px;
	height: 300px;
}

.width-height-example {
	width: 300px;
	height: 300px;
	background-color: tomato;
	transition: 1s;
	text-align: center;
}

.width-height-example:hover {
	width: 500px;
	height: 500px;
	background-color: #b6ff00;
	border-radius: 200px;	
}

.width-example {
	width: 300px;
	height: 300px;
	background-color: tomato;
	text-align: center;
	transition: width 1s;
}

.width-example:hover {
	width: 500px;
	background-color: #00ff90;	
}

.height-example {
	overflow:hidden;
	position:absolute;
	left: 550px;
	top:20px;
	width: 300px;
	height: 300px;
	background-color: tomato;
	text-align: center;
	transition: 2s;
	transition-timing-function: ease;
}

.height-example:hover {
	height: 500px;
	background-color: #dd00ff;	
}
