p {
    margin:0px;
    font-size:x-large;
}

table, table th, table td {
    border:solid;
    border-color:black;
    border-width:1px;
    font-family: Tahoma;
}

table th, table td {
    padding:5px;
}

table tfoot td {
    text-align:right;
}
