.wrapper {
    background-color: pink;
    width: 35em;
    height: 25em;
    margin-left: 5em;
    margin-top: 5em;
    font-family: Tahoma;
}

.first {
    font-size: 2em;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-weight: bold;
    font-style: italic;
}

div {
    margin: 0.2em;
}

.left {
    float: left;
    width: 220px;
}

.right {
    float: right;
}

.city {
    padding-right: 6em;
}
.italic{
    font-style: italic;
}
