.container {
    padding: 10px;
}

img {
    width: 334px;
    height: 69px;
}

#image {
    vertical-align: bottom;
    width: 23px;
    height: 21px;
    padding-left: 3px;
}

#image, #search, label {
    margin-top: 10px;
}