@font-face {
    font-family: Animated;
    src: url("./A");
}

div{
    width: 900px;
    height: 600px;
    background: #0067DB;
    background: -o-radial-gradient(20% 20%, farthest-side,#ffffff 5%, #F9F8B7 10%, #F9F8B7 10%,#ffffff 20%,#0067DB);
    background: -webkit-radial-gradient(20% 20%, farthest-side,#ffffff 5%, #F9F8B7 10%, #F9F8B7 10%,#ffffff 20%,#0067DB);
    background: -moz-radial-gradient(20% 20%, farthest-side,#ffffff 5%, #F9F8B7 10%, #F9F8B7 10%,#ffffff 20%,#0067DB);
    background: radial-gradient(5% 5%, farthest-side, #ffffff 10%, #fffda0 ,#ffffff ,#0067DB);
}

span{
    display: inline-block;
    font-family: Animated;
    color: #FDBC21;
    font-size: 45px;
    margin: 40px
}

div>div{
    width: 900px;
    height: 600px;

    text-align: right;
    background-image: url("../img/TediHula.png"), url("../img/PetiaHula.png"), url("../img/VladoGHula.png"),
    url("../img/AlexHula.png"), url("../img/NakovHula.png"),url("../img/VladoKHula.png"), url("../img/HawaiiBackground.png");
    background-repeat: no-repeat;
    background-position: 36% 95%, 28% 87%, 6% 90%, 75% 90%, 61% 80%, 99% 93%;
}