#outter-table, #inner-table, td, th {
    border: 1px solid black;
}

#outter-table td {
    width: 100px;
    height: 100px;
    font-size: 20px;
    padding: 5px;
}
#outter-table td #inner-table td{
    height: 30px;
    width: 80px;
    font-size: 15px;
}
#google-align {
    vertical-align: top;
}

#github-align {
    vertical-align: top;
    text-align: right;
}

#fb-align {
    vertical-align: top;
    text-align: center;
}

#youtube-align {
    vertical-align: bottom;
    text-align: center;
}

#food-align {
    vertical-align: bottom;
    text-align: right;
}

#game-align {
    vertical-align: bottom;
}

#social-life-align, #sleep-align {
    text-align: center;
}

#beer-align {
    text-align: right;
}

